@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --main-text-color: black;
  --background-color: white;
  --font-family: 'Poppins', sans-serif;
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 400;
  --hover-color: rgb(0, 110, 255);
  --hover-dark: rgb(17, 0, 255);
  --contacts-background: rgb(247, 241, 241);
  --dark-background: rgb(22, 23, 25);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--font-family);
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
}

section {
  width: 100%;
  padding: 2rem 0;
}

.container {
  max-width: 1500px;
  margin: 0 10px;
  padding: 0 20px;
}